footer{
  text-align: center;
  background-color: var(--footer-bg);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-block: 1rem;
  margin-top: 3rem;
  color: white;
  font-size: 19px;

 & span{
  color: rgb(5, 170, 247);
  text-transform: capitalize;
 }
 p{
  color: rgb(196, 126, 126);
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  
 }
}